.card-row {
    display:flex;
    flex-flow: row;
    flex: 1, 1, auto;
    z-index: 1;
    /* margin-left: 5px;
    margin-right: 5px; */
    justify-content: center;
}

.card-row:after {
    content: "";
    display: table;
    clear: both;
  }


.round {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}