
.navbar {
    /* overflow: hidden; */
    background-color: rgb(39, 84, 105);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;

  }

  .navbar a {
    float:left;
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 5px 5px;
    margin-left: 1%;
    text-decoration: none;
    width: 30%;

  }

  .navbar a:hover{
    color: black !important;
  }


  .navbar-centered a {
    float: none;
    transform: translate(-50%, -50%);
  }

  .topnav-right {
    float: right;
  }

  .about-body{
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
   justify-content: center;
   background: rgba(243, 189, 107, 0.5);
  }

  .top-header{
    color: white;
    background-color:darkblue;
    border-color: yellow;
    border-width: .1em;
    border-style: solid;
    border-radius: 1px;
    font-size: 100px;
    text-shadow: 2px 2px 5px rgb(128, 0, 0);
    font-family: 'Oswald', sans-serif;
  }

  .top-header:before{
    position: absolute; 
    display:block;
    content: '';
    border: 10px solid orange;
    height: 16.5%;
    width: 99%;
    box-sizing: border-box;
  }

  .app-body{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(10, 7, 7);
  margin-left: auto;
  margin-right: auto;
  }
  

  .leaderboard{
    display:table;
    margin-left: auto;
    margin-right: auto;
  }

  li{
    font-weight:600;
    padding: 2px;
  }
