
.navbar {
    overflow: hidden;
    background-color: rgb(39, 84, 105);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;

  }

  .navbar a {
    float:left;
    font-size: 45px;
    color: white;
    text-align: center;
    /* justify-content: space-around; */
    padding: 5px 5px;
    margin-left: 2%;
    /*margin-right: 150px; */
    text-decoration: none;
    width: 30%;

  }

  .navbar a:hover{
    color: black !important;
  }


  .navbar-centered a {
    float: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .topnav-right {
    float: right;
  }

  .about-body{
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
   justify-content: center;
   background: rgba(243, 189, 107, 0.5);
  }

  .top-header{
    color: white;
    background-color:darkblue;
    border-color: yellow;
    border-width: .1em;
    border-style: solid;
    border-radius: 1px;
    font-size: 150px;
    text-shadow: 2px 2px 5px rgb(128, 0, 0);
    font-family: fantasy;
  }

  .top-header:before{
    position: absolute; 
    display:block;
    content: '';
    border: 10px solid orange;
    height: 20%;
    width: 98%;
    box-sizing: border-box;
  }

  .app-body{
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(10, 7, 7);
  margin-left: auto;
  margin-right: auto;
  }


  
  .name-badge{
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 30%;
  height: auto;
  background-color: rgb(197, 116, 116);
  border-radius: 20px;
  padding: 10px 0;
  font-size: 35px;
  }

  .points-badge span{
    font-size: 30px;
    width: 20px;
  }

  span {
    width: 50px;
  }
  /*
  .name-badge-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 0 0 10px;
    margin: 0;
  }
  .name-badge-copy {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
  }
  .name-badge-canvas {
    width: 100%;
    height: 65%;
    cursor: default;
    background-color: white;
  } */
