.modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(131, 67, 21);
    font-size: 25px;
}

.close-button {
    color:rgb(131, 67, 21);
    background-color: rgb(165, 106, 128);
}