.villain-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
}

.villain-content{
    margin: 1rem;
    margin-top: 0.5rem;

}

h3,p{
    /* Resetting default value */
    margin: 0;
    padding: 0;
}

.villain-title{
    margin-bottom: 0.5rem;

}

