.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  /* background-color: #acb6c9; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


span.navigationSpace {
  padding-left: 50px;
}

.app-header {
  overflow: hidden;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input{
  font-size: larger;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:burlywood;
}

.container{
  background-image: url(./supermarketcart_maincropped.jpg);
  background-size: cover;

}

