.App {
  /* overflow:hidden; */
  text-align: center;
  width: 100%;
  height: 100vh;
  /* display: flex; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  /* overflow:hidden; */
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.app-header {
  /* overflow: hidden; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input{
  font-size: larger;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:burlywood;
}

.container{
  /* overflow:hidden; */
  display: flex;
  background-image: url(./supermarketcart_maincropped.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

